.App {
    background-color: aliceblue;
}

.center-width {
    width: 40%;
}

.App header .btn {
    color: white;
}

.App {
    border: 1px solid;
    border-left: 1px solid blue;
    border-bottom: 1px solid blue;
    border-radius: 5px;
}

.App .card {
    background-color: white;
}

.delete-icon {
    background-color: azure;
    margin-top: 5px;
    margin-right: 10px;
    color: red;
    cursor: pointer;
}

.delete-icon:hover {
    font-size: 110%;
}

.task.reminder {
    border-left: 5px solid green !important;
}

.add-form {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    background-color: antiquewhite;
}

.add-form .form-control {
    border: 2px solid grey;
}

.add-form .form-button {
    color: white;
    background-color: black;
    text-align: center;
}

.add-form .form-button:hover {
    color: whitesmoke;
}